@model AttachmentFileViewModel

<div class="panel-body scroll panel-height">
    <table id="tblFU" class="CustomColorTable" border="1">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(m => m.Id)</th>
                <th>@Html.DisplayNameFor(m => m.Name)</th>
                <th>@Html.DisplayNameFor(m => m.ContentType)</th>
                <th>@Html.DisplayNameFor(m => m.Size)</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    @Html.DisplayFor(m => m.Id)
                </td>
                <td>
                    @Html.DisplayFor(m => m.Name)
                </td>
                <td>
                    @Html.DisplayFor(m => m.ContentType)
                </td>
                <td>
                    @Html.DisplayFor(m => m.Size)
                </td>
                <td>
                    <a href='#' class='btn btn-success btn-sm' onclick="Download('@Model.Id');">
                        Pobierz
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<style>
    .panel-heading {
        padding: 0px 0px 0px 5px;
    }

    .panel-body {
        padding: 5px;
    }

    .h4 {
        margin-top: 1px;
        margin-bottom: 1px;
    }
</style>

<script>
    var Download = function (id) {
        location.href = "/QuestionsSet/DownloadAttachment?attachmentId=" + id;
    };
</script>