@model IEnumerable<AttachmentViewModel>

<div class="panel-body scroll panel-height">
    <table class="CustomColorTable" border="0">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(m => m.Name)</th>
                <th>@Html.DisplayNameFor(m => m.ContentType)</th>
                <th>@Html.DisplayNameFor(m => m.Size)</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var attachment in Model)
            {
            <tr>
                <td id="FileName">@Html.DisplayFor(m => attachment.Name)</td>
                <td>@Html.DisplayFor(m => attachment.ContentType)</td>
                <td>@Html.DisplayFor(m => attachment.Size)</td>
                <td>
                    <a href="#" class="btn btn-info btn-sm"
                       onclick="Download('@attachment.Id');">Pobierz</a>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>

<style>
    .panel-heading {
        padding: 0px 0px 0px 5px;
    }

    .panel-body {
        padding: 5px;
    }

    .h4 {
        margin-top: 1px;
        margin-bottom: 1px;
    }
</style>

<script src="~/js/ManageAttachment.js"></script>