@model IEnumerable<QuestionViewModel>

<div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(m => m.Id)
                </th>
                <th>
                    @Html.DisplayNameFor(m => m.Content)
                </th>
                <th>
                    @Html.DisplayNameFor(m => m.Description)
                </th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            @foreach (var question in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(item => question.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(item => question.Content)
                    </td>
                    <td>
                        @Html.DisplayFor(item => question.Description)
                    </td>
                    <td>
                        <a class="btn btn-sm btn-info" asp-controller="Question" asp-action="Edit"
                           asp-route-id="@question.Id">
                            Edytuj
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>