@model QuestionsSetViewModel

<div class="row">
    <div class="col-md-12">
        <table class="CustomColorTable">
            <tr>
                <th>@Html.DisplayNameFor(m => m.Id)</th>
                <td>@Model.Id</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(m => m.Area)</th>
                <td>@Model.Area</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(m => m.SkillDescription)</th>
                <td>@Model.SkillDescription</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(m => m.Difficulty)</th>
                <td>@Model.Difficulty</td>
            </tr>

            <tr>
                <th>@Html.DisplayNameFor(m => m.Questions)</th>
                <td>
                    @await Html.PartialAsync("_Questions", Model.Questions)
                </td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(m => m.QuestionsSetRatings)</th>
                <td>
                    @await Html.PartialAsync("_Ratings", Model.QuestionsSetRatings)
                </td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(m => m.AttachmentFile)</th>
                <td>
                    @await Html.PartialAsync("_Attachment", Model.AttachmentFile)
                </td>
            </tr>
        </table>
    </div>
</div>

@*<script type="text/javascript">
    var frm = $('#contactForm1');

    frm.submit(function (e) {

            e.preventDefault();

        $.ajax({
            type: frm.attr('method'),
            url: frm.attr('action'),
            data: frm.serialize(),
            success: function (data) {
            console.log('Submission was successful.');
                console.log(data);
            },
            error: function (data) {
            console.log('An error occurred.');
                console.log(data);
            },
        });
    });
</script>*@