@model IEnumerable<AreaViewModel>
@{ViewData["Title"] = "Obszary zestawów pytań";}

<div class="panel-heading">
    <div class="row">
        <div class="col-md-7">
            <h5><b>Lista obszarów zestawów pytań</b></h5>
        </div>
    </div>
</div>
<div id="divAlertArea">
    <partial name="~/Views/UIComponents/_bootstrapAlert.cshtml" />
</div>

<div class="panel-body scroll panel-height">
    <table class="table">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.Id)</th>
                <th>@Html.DisplayNameFor(model => model.Name)</th>
                <th>@Html.DisplayNameFor(model => model.ExtendedName)</th>
                <th></th>
                @*<th></th>*@
            </tr>
        </thead>

        <tbody>

            @foreach (var area in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(item => area.Id)</td>
                    <td>@Html.DisplayFor(item => area.Name)</td>
                    <td>@Html.DisplayFor(item => area.ExtendedName)</td>
                    <td>
                        <div>
                            <a class="btn btn-sm btn-info" asp-controller="Dictionary" asp-action="EditArea" asp-route-id="@area.Id">
                                Edytuj
                            </a>
                            @*<a class="btn btn-sm btn-danger" asp-controller="Dictionary" asp-action="DeleteArea" asp-route-id="@area.Id">
                                    Usuń
                                </a>*@
                        </div>
                    </td>
                </tr>

            }

        </tbody>
    </table>
</div>