@model ResultViewModel

<fieldset class="p-2">
    <legend class="w-auto">
        <b>Ocena zestawu pytań</b>
    </legend>
    <form method="post" asp-controller="Diagnosis" asp-action="SaveResult" id="partialResultForm">
        <input type="hidden" asp-for="@Model.DiagnosisId" />
        <div class="container-fluid">
            <div class="row mb-3 form-group">
                @*<label asp-for="@Model.QuestionsSetRating" class="form-label col-md-10"></label>*@
                <div class="col-sm-8">
                    <select asp-for="@Model.QuestionsSetRating.Id" class="form-select" id="ratingsDropdown"
                            currentRatingId="@Model.QuestionsSetRating?.Id">
                        <option disabled selected>Wybierz ocenę...</option>
                    </select>
                    @Html.ValidationMessageFor(m => m.QuestionsSetRating, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="row mb-3 form-group">
                @Html.LabelFor(m => m.RatingLevel,
                    htmlAttributes: new { @class = "control-label col-md-10" })
                <div class="col-md-2">
                    @Html.DropDownListFor(m => m.RatingLevel,
                        new SelectList(Enumerable.Range(1, 6).Select(i => (byte)i), "--Wybierz poziom--"),
                        htmlAttributes: new { @class = "form-control form-control-lg" })
                    @Html.ValidationMessageFor(m => m.RatingLevel, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="row mb-3">
                <label asp-for="@Model.Notes" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-10">
                    <textarea asp-for="@Model.Notes" type="text" class="form-control"
                                placeholder="Notatki..." rows="3"></textarea>
                </div>
            </div>
            <div id="divAlertArea">
                <partial name="~/Views/UIComponents/_bootstrapAlert.cshtml" />
            </div>
            <div class="d-grid col-4 mx-auto">
                <a class="btn btn-success" id="saveResult">Zapisz ocenę</a>
            </div>
        </div>
    </form>
</fieldset>

<script>
$(document).ready(function () {
    var currentRatingId = $("#ratingsDropdown").attr('currentRatingId');

    $('input[name="questionsSetRating"]')
        .each(function (i, rating) {
            if (rating.id != currentRatingId)
                $("#ratingsDropdown").append(
                    "<option value=" + rating.id + ">" +
                    rating.value + "</option>");
            else
                $("#ratingsDropdown").append(
                    "<option selected value=" + rating.id + ">" +
                    rating.value + "</option>");
        });
});

$("#saveResult").click(function () {
    $.ajax({
        type: "POST",
        url: "/Diagnosis/SaveResult",
        data: $("form").serialize()
    })
    .done(function (result, status) {
        $("#partialResult").html(result);
        //TODO: coś szwankuje z tymi tosterami
        console.log('@TempData["saveSuccess"]');
        let isSuccess = @((TempData["saveSuccess"] != null).ToString().ToLower());
        if (isSuccess) {
            toastr.success('Poprawnie zapisano ocenę');
        }
    });
})
</script>

<style>
    legend {
        border: 3px solid #1F497D;
        border-radius: 5px;
        float: none;
        padding: inherit;
    }

    fieldset legend {
        background: #1F497D;
        color: #fff;
        padding: 5px 10px 10px 15px;
        font-size: 15px;
        border-radius: 5px;
        margin-left: 1px;
        margin-right: 10px;
    }
</style>