@model DiagnosisSummaryViewModel
@{ViewData["Title"] = "Diagnoza - podsumowanie";}

<div class="heading">
    <h4><b>Podsumowanie formularza diagnozy o numerze: @Model.Id</b></h4>
</div>
<div id="divAlertArea">
    <partial name="~/Views/UIComponents/_bootstrapAlert.cshtml" />
</div>
<br />
<div class="container-fluid">
    <div class="row mb-3 mt-3">
        <p class="fs-5 fw-bold">
            @Html.DisplayNameFor(m => m.SchoolYear)
        </p>
        <label class="col-sm-6 control-label">@Model.SchoolYear</label>
    </div>
    <div class="row mb-3">
        <p class="fs-5 fw-bold">
            @Html.DisplayNameFor(m => m.Employee)
        </p>
        <label class="col-sm-6 control-label">
            @Model.Employee?.FirstName @Model.Employee?.LastName
        </label>
    </div>
    <div class="row mb-3">
        <p class="fs-5 fw-bold">
            @Html.DisplayNameFor(m => m.Student)
        </p>
        <label class="col-sm-6 control-label">
            @Model.Student?.FirstName @Model.Student?.LastName
        </label>
    </div>
    <div class="row mb-3">
        <p class="fs-5 fw-bold">
            @Html.DisplayNameFor(m => m.Difficulty)
        </p>
        <label class="col-sm-6 control-label">
            @Model.Difficulty.Description
        </label>
    </div>
</div>

<div class="accordion" id="accordionPanelsStayOpenExample">
    @for (int i = 0; i < Model.QuestionsSetsIds.Count(); i++)
    {
        <div class="accordion-item">
            <h2 class="accordion-header" id="heading_@Model.QuestionsSetsIds[i]">
                <button class="accordion-button" type="button" data-bs-toggle="collapse"
                        data-bs-target="#panel_@Model.QuestionsSetsIds[i]" aria-expanded="true"
                        aria-controls="panel_@Model.QuestionsSetsIds[i]">
                    <p class="fw-bold">
                        @Model.QuestionsSets[i].SkillDescription
                    </p>
                    &nbsp;&nbsp;&nbsp;
                    <p class="text-end fw-light">
                        Obszar:
                    </p>
                    &nbsp;
                    <p class="text-end fw-light fst-italic">
                        @Model.QuestionsSets[i].Area.Description
                    </p>
                </button>
            </h2>
            <div id="panel_@Model.QuestionsSetsIds[i]" class="accordion-collapse collapse show"
                 aria-labelledby="heading_@Model.QuestionsSetsIds[i]">
                <div class="accordion-body">
                    @if (Model.Results?.Count() > 0)
                    {
                        @await Html.PartialAsync("_ResultSummary", Model.Results[i])
                    }
                    else
                    {
                        <p class="fst-italic">
                            Nie znaleziono zapisanych odpowiedzi, do wybranego zestawu pytań
                        </p>
                    }
                </div>
            </div>
        </div>
    }
</div>