@model DiagnosisReportKeyViewModel

<div id="alertArea">
    <partial name="~/Views/UIComponents/_bootstrapAlert.cshtml" />
</div>

<div id="loader">
    <span class="fst-italic fw-bold" style="position:fixed; left:40%;top:50%;">
        Trwa generowanie raportu......
    </span>
</div>

<div class="d-grid col-6 mx-auto gap-2">

    <button type="button" class="btn btn-outline-dark" data-bs-toggle="modal"
            id="reportPreviewButton"
            data-bs-target="#reportPreview">
        Podgląd widoku raportu
    </button>
    <div class="modal fade" id="reportPreview" tabindex="-1"
         aria-labelledby="reportPreviewLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-xl modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="reportPreviewLabel">Podgląd raportu</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" id="reportPreviewBody">
                    <img src="@Url.Content("~/images/round.gif")" class="img-responsive" />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Zamknij</button>
                </div>
            </div>
        </div>
    </div>

    <a href="#" class="btn btn-primary" id="generateBtn">
        Generuj raport
    </a>

    <button href="#" data-report-id="@Model.ReportId.GetValueOrDefault()"
            class="btn btn-outline-primary" id="showBtn">
        Pokaż raport
    </button>

    <a href="#" class="btn btn-primary" id="downloadBtn">
        Pobierz raport (.pdf)
    </a>
</div>

<script>

    function checkButtons() {
        $('#loader').hide();
        var reportId = @Model.ReportId.GetValueOrDefault();
        if (reportId !== 0) {
            $('#downloadBtn').show("slow");
            $('#showBtn').show("slow");
            $('#generateBtn').hide();
        }
        else {
            $('#downloadBtn').hide();
            $('#showBtn').hide();
        }
    };

    //W przypadku niepowodzenia, wyświetlane jest powiadomienie typu toastr
    // oraz przeładowany zostaje region generateReport, w celu wyświetlenia
    // alertArea ze szczegółowymi danymi dot. niepowodzenia (z TempData)

    $("#generateBtn").click(function (e) {
        e.preventDefault();
        var diagnosisId = @Model.DiagnosisId;
        $.ajax({
            type: "POST",
            url: "/Report/Generate/" + diagnosisId,
            beforeSend: function () {
                $("#loader").fadeIn(500);
            }
        })
        .done(function (result, status) {
            $("#generateReport").html(result);
            var message = "Poprawnie wygenerowano raport";
            toastr.success(message, null, {
                timeOut: 5000, positionClass: "toast-bottom-right"
            });
        })
        .fail(function (result, status, xhr) {
            toastr.error(result.responseText, null, {
                timeOut: 5000, positionClass: "toast-bottom-right"
            });
        })
        .always(function (data, status) {
            $("#loader").fadeOut(500, function () {
                if (status == 'error') {
                    loadGenerateReport(@Model.DiagnosisId, @Model.ReportId);
                }
                else {
                    checkButtons();
                }
            });
        });
    });

    //otworzenie wygenerowanego raportu w nowej zakładce
    $("#showBtn").click(function (event) {
        event.preventDefault();
        var button = $(event.target);
        var reportId = button.attr("data-report-id");
        var uri = "/Report/ShowDiagnosisReport/" + reportId;
        window.open(uri, '_blank');
    });

    //pobieranie raportu
    //preventDefault: normalnie po kliknięciu linku z atrybutem href='#'
    //strona przewija się do góry; preventDefault blokuje to zachowanie
    $("#downloadBtn").click(function (event) {
        event.preventDefault();
        var reportId = @Model.ReportId.GetValueOrDefault();
        location.href = "/Report/GetDiagnosisReport?reportId=" + reportId;
        var message = "Raport jest pobierany";
        toastr.success(message, null, {
            timeOut: 5000, positionClass: "toast-bottom-right"
        });
    });

    //załadowanie podglądu raportu w oknie modalnym po kliknięciu przycisku
    $("#reportPreviewButton").click(function (e) {
        $("#reportPreviewBody").load(
            "@Url.Action("Preview", "Report", new { diagnosisId = Model.DiagnosisId })",
            function () {
                $(".img-responsive").hide();
            });
    });


</script>
