@model DiagnosisReportKeyViewModel

<div id="alertArea">
    <partial name="~/Views/UIComponents/_bootstrapAlert.cshtml" />
</div>


<div id="loader">
    <span class="fst-italic">Trwa generowanie raportu...</span>
    @*<div class="d-flex justify-content-center">
        <span class="fst-italic">Trwa generowanie raportu...</span>

        <div class="spinner-border" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>*@
</div>

<div class="d-grid col-6 mx-auto gap-2">

    <a href="#" class="btn btn-primary" id="generateBtn">
        Generuj raport
    </a>

    <button asp-controller="Report" asp-action="ShowDiagnosisReport"
            asp-route-reportId="@Model.ReportId.GetValueOrDefault()"
            class="btn btn-outline-secondary"
            target="_blank" id="showBtn">
        Pokaż raport
    </button>

    <a href="#" class="btn btn-secondary" id="downloadBtn">
        Pobierz raport (.pdf)
    </a>
</div>

<script>

    var checkButtons = function () {
        $('#loader').hide();
        var reportId = @Model.ReportId.GetValueOrDefault();
        if (reportId !== 0) {
            $('#downloadBtn').show("slow");
            $('#showBtn').show("slow");
            $('#generateBtn').addClass("disabled");
        }
        else {
            $('#downloadBtn').hide();
            $('#showBtn').hide();
        }
    }

    //W przypadku niepowodzenia, wyświetlane jest powiadomienie typu toastr
    // oraz przeładowany zostaje region generateReport, w celu wyświetlenia
    // alertArea ze szczegółowymi danymi dot. niepowodzenia (z TempData)

    $("#generateBtn").click(function (e) {
        e.preventDefault();
        var diagnosisId = @Model.DiagnosisId;
        $.ajax({
            type: "POST",
            url: "/Report/Generate/" + diagnosisId,
            beforeSend: function () {
                $("#loader").fadeIn(500);
            }
        })
        .done(function (result, status) {
            $("#generateReport").html(result);
            var message = "Poprawnie wygenerowano raport";
            toastr.success(message, null, {
                timeOut: 5000, positionClass: "toast-bottom-right"
            });
        })
        .fail(function (result, status, xhr) {
            toastr.error(result.responseText, null, {
                timeOut: 5000, positionClass: "toast-bottom-right"
            });
        })
        .always(function (data, status) {
            $("#loader").fadeOut(500, function () {
                if (status == 'error') {
                    loadGenerateReport(@Model.DiagnosisId, @Model.ReportId);
                }
                else {
                    checkButtons();
                }
            });
        });
    });

    @*var GetReport = function (reportId) {
        console.log("W funkcji");
        console.log(reportId);
        if (reportId == null){
            reportId = @Model.ReportId.GetValueOrDefault();
        }
        console.log(reportId);
        location.href = "/Report/GetDiagnosisReport?reportId=" + reportId;
        var message = "Raport jest pobierany";
        toastr.success(message, null, {
            timeOut: 5000, positionClass: "toast-top-right"
        });
    }*@

    $("#downloadBtn").click(function (event) {
        event.preventDefault();
        var reportId = @Model.ReportId.GetValueOrDefault();
        location.href = "/Report/GetDiagnosisReport?reportId=" + reportId;
        var message = "Raport jest pobierany";
        toastr.success(message, null, {
            timeOut: 5000, positionClass: "toast-bottom-right"
        });
    });

</script>
