@model DiagnosisReportKeyViewModel

<div id="alertArea">
    <partial name="~/Views/UIComponents/_bootstrapAlert.cshtml" />
</div>

<div id="loader">
    Trwa generowanie raportu...
</div>

<div class="d-grid col-6 mx-auto gap-2">

    <a href="#" class="btn btn-primary" id="generateBtn">
        Generuj raport
    </a>

    <button asp-controller="Report" asp-action="ShowDiagnosisReport"
            asp-route-reportId="@Model.ReportId.GetValueOrDefault()" class="btn btn-outline-secondary"
            target="_blank" id="showBtn">
        Pokaż raport
    </button>

    <a href="#" class="btn btn-secondary" id="downloadBtn">
        Pobierz raport (.pdf)
    </a>
</div>

@*<script src="~/js/ManageReports.js"></script>*@

<script>

    var checkButtons = function () {
        $('#loader').hide();
        var reportId = @Model.ReportId.GetValueOrDefault();
        if (reportId !== 0) {
            $('#downloadBtn').show("slow");
            $('#showBtn').show("slow");
            $('#generateBtn').addClass("disabled");
        }
        else {
            $('#downloadBtn').hide();
            $('#showBtn').hide();
        }
    }

    $("#generateBtn").click(function (e) {
        console.log(e);
        var diagnosisId = @Model.DiagnosisId;
        $.ajax({
            type: "POST",
            url: "/Report/Generate/" + diagnosisId,
            beforeSend: function () {
                $("#loader").fadeIn(300);
            }
        })
        .done(function (result, status) {
            $("#generateReport").html(result);
            toastr.success(saveSuccessMessage, null,
                { timeOut: 5000, positionClass: "toast-bottom-right" });
            }
        })
        .fail(function (result, status, xhr) {
            toastr.error(result, null,
                { timeOut: 5000, positionClass: "toast-bottom-right" });
        })
        .always(function () {
            $("#loader").fadeOut(300);
            checkButtons();
        });
    });

    @*var GetReport = function (reportId) {
        console.log("W funkcji");
        console.log(reportId);
        if (reportId == null){
            reportId = @Model.ReportId.GetValueOrDefault();
        }
        console.log(reportId);
        location.href = "/Report/GetDiagnosisReport?reportId=" + reportId;
        var message = "Raport jest pobierany";
        toastr.success(message, null, {
            timeOut: 5000, positionClass: "toast-top-right"
        });
    }*@

    $("#downloadBtn").click(function (event) {
        console.log()
        var reportId = @Model.ReportId.GetValueOrDefault();
        location.href = "/Report/GetDiagnosisReport?reportId=" + reportId;
        var message = "Raport jest pobierany";
        toastr.success(message, null, {
            timeOut: 5000, positionClass: "toast-bottom-right"
        return false;
    });

</script>